.icons{
    color: #0BC175;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 0px 100px;
}
.container{
    margin: 50px 100px;
    text-align: center;
}
.container h2{
    color: #0D4E3C;
}
.description {
    margin: 30px 100px;
    font-size: 1.25rem;
    justify-content: space-between;
}
.icons p{
    display: flex;
    align-items: center;
    gap: 10px;
}